<div class="w-full flex justify-center items-start min-h-screen">
  <div class="form-container border border-secondary p-4 shadow rounded">
    <h3 class="text-center mb-4">Cadastrar Usuario</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-2">
        <label class="form-label" for="firstName">Nome</label>
        <input
          id="firstName"
          formControlName="firstName"
          type="text"
          class="form-input"
        />
      </div>
      <div class="mb-2">
        <label class="form-label" for="lastName">Sobrenome</label>
        <input
          id="lastName"
          formControlName="lastName"
          type="text"
          class="form-input"
        />
      </div>
      <div class="mb-2">
        <label class="form-label" for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          class="form-input"
        />
      </div>
      <div class="mb-2">
        <label class="form-label" for="password">Password</label>
        <input
          id="password"
          formControlName="password"
          type="text"
          class="form-input"
        />
      </div>
      <div class="mb-2">
        <label class="form-label" for="role">Perfil</label>
        <select id="role" formControlName="role" class="form-select">
          <option value="USER">USER</option>
          <option value="MANAGER">MANAGER</option>
          <option value="ADMIN">ADMIN</option>
        </select>
      </div>
      <div class="flex justify-between items-center mt-4">
        <button class="styled-button btn btn-l_blue_2 px-4 py-2">Cadastrar</button>
        <button class="styled-button btn bg-red-600 px-4 py-2" routerLink="/user">Cancelar</button>
      </div>
    </form>
  </div>
</div>
